<!DOCTYPE html>
<html>
  <head>
    <title>Bloog</title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <div class="banner sixteen columns clearfix">
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>
      </div>
      <div class="sidebar one columns">
        <h4>Actions</h4>
        <nav>
          <ul>
            <li><%= link_to "New post...", new_post_path %></li>
          </ul>
        </nav>
        <h4>Tags</h4>
        <nav>
          <% "= blog.tags.render(self)" %>
        </nav>
      </div>
      <div class="content ten columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
